body {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.container {
	display: flex;
	flex-direction: column;
	font-family: 'Roboto Slab', serif;
}

header {
	background: url("fb_homepage_circles.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100%;
	padding: 20px;
	font-size: 2em;
	height: 100vh;
	text-align: center;
}

h4 {
	margin: 3px;
	font-size: 1.15em;
}


.header-logo {
	position: relative;
	top: 40vh;
	margin: auto;
	width: 150px;
	display: flex;
	justify-content: center;
}

.header-logo img {
	height: 180px;
}

.main {
	height: 500px;
}


.main-subdiv {
	margin-top: 100px;
	box-sizing: border-box;
	display: flex;
	width: 100%;
	justify-content: center;
	flex-flow: wrap;
}

.core-val {
	background: #233C5a;
	width: 100%;
	height: 250px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.core-val img {
	height: 70%;
}

.img-container {
	display: flex;
	justify-content: center;
}

.img {
	height: 110px;
	border-radius: 50%;	
}


.border-lead {
	border: 3px solid #FFBE2B;
}

.border-ux {
	border: 3px solid #50E3C2;
}

.border-ui {
	border: 3px solid #D01D1B;
}

.border-fed {
	border: 3px solid #23DEF5;
}

/*.email-icon {
	height: 30px;
	width: 30px;
	background-image: url("node_modules/ibm-design-icons/dist/png/object-based/email_24.png");
	background-position: center;
	background-repeat: no-repeat;
}*/

.member {
	color: #4A4A4A;
	text-align: center;
	padding: 10px;
	margin: 8px;
	width: 20%;
	height: 100%;
}


.member > p {
	font-size: .95em;
	line-height: 50%;
}


footer {
	/*border: 1px solid lime;*/
	/*height: 150px;*/
}